<div class="quiz-area" ng-show="inProgress">
    <div ng-show="!quizOver">
        <h2 id="question">{{question}}</h2>
        <ul id="options" class="list-group">
            <li ng-repeat="option in options" class="list-group-item">
                <label ng-show="!isSingle">
                    <input type="checkbox" name="answer" value="{{option}}">{{option}}
                </label>
                <label ng-show="isSingle">
                    <input type="radio" name="answer" value="{{option}}">{{option}}
                </label>
            </li>
        </ul>
        <button ng-click="checkAnswer()" ng-show="answerMode" class="btn btn-lg btn-primary">提交</button>
        <div ng-show="!answerMode">
            <button ng-click="nextQuestion()" class="btn btn-lg btn-primary">下一个</button>
            <span ng-show="correctAns" class="glyphicon glyphicon-ok"></span>
            <span ng-show="!correctAns" class="glyphicon glyphicon-remove">应该为{{answer}}</span>
        </div>
    </div>
    <div ng-show="quizOver">
        <h2>考试结束</h2>
        <button ng-click="reset()" class="btn btn-lg btn-primary">再考一次</button>
    </div>
    <div id="score">
        <hr/>
        <small class="d-block text-right mt-3">
                得分：{{score}} / {{total}}
              </small>
    </div>
</div>
<div class="intro" ng-show="!inProgress">
    <small class="text-muted">版本：beta</small>
    <p></p>
    <p class="lead">
        选择试题: 
        <select ng-model="quizName" ng-options="x.id as x.name for x in names" ng-selected="x.id == quizName">
            <option value="">请选择试题</option>
            </select>
    </p>
    <button id="startQuiz" ng-click="start()" class="btn btn-lg btn-primary">开始考试</button>
</div> 
